<!DOCTYPE html>
<!--   -->
<html lang="en">
  <head>
   <meta charset="utf-8"/>
   <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
           <style>
body {
    background-color: rgb(0,0,0);
    color: white;
}
h1 {
    color: white;
}
.nav-link {
    color: rgb(255, 255, 255)!important;        
}
.navbar-brand {
    color: rgb(255, 255, 255)!important; 
}
</style>
        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <title>Osu! Boosting</title>
  </head>
   <body>  

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:  transparent!important">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand d-none d-lg-inline-block" href="/">
            Back
        </a>
        <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="/session">
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item">
                <a href="/" class="nav-link m-2 menu-item">Home</a>
            </li>
            <li class="nav-item">
                <a href="/login" class="nav-link m-2 menu-item">Login</a>
            </li>
            <li class="nav-item">
                <a href="/signup" class="nav-link m-2 menu-item">Signup</a>
            </li>
        </ul>
    </div>
</nav>

<!-- background:rgb(248,193,193) -->
<div style="background:rgb(0, 0, 0) !important" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">About Ripple PP Boosting</h1>
    <br>
    <p class="lead ">This is a rank boosting website for a competitive game Osu!, where users order a boost FOR FREE for thier ripple account. ripple is a clone of the Osu! server, link for thoose who don't know <a href="https://ripple.moe/">https://ripple.moe/</a>.
    I made this website for development practice.
    </p> 
    <h5>How to use this website</h5>
    <p class="lead ">After signing up and confirming your email you can now purchase an order. Do NOT use real information at checkout, this is a fake sandbox environment so you can submit fake data. Use FakeNameGenerator to fill up the paypal form. If you fill out these forms often I would recomend downloading my chrome extension Pay-Pal-Form-Filler.</p>
    <h5>Development</h5>
    <p class="lead "> I made this website mainly for programming expirence this site was made using Mongo Express (jquery React bootstrap 4) Node and I made one developer tool which was a Chrome extension to fill out paypal forms with data from FakeName Generator, also paypal uses Angular so I had to inject data into an Angualr form.
        The admin control pannel was the most difficult part that no one will see except me the admin. A problem I ran into was mixing Jquery and React. React is not good at handleing Jquery plugins although Im not sure if other frameworks are better or worse.
    </p>
    <h5>Terms and conditions</h5>
    <p class="lead ">The Terms and conditions may update at any time. You are responsible for being up to date with the latest version of the terms and conditions. 
        Do NOT use real credit card information it's visible to someone but sadly not me. Please use FakeNameGenerator or my Chrome Extension.
        Don't tamper with my website, you will be fined with a fee of 1$ and you telling me how you bypassed my site cause I think my site is very secure.
        I reserve the right to delete your account at anytime for any reason. If your account has been deleted its probably because I accidently found a way to screw up and drop the whole database.
        I reserve the right to deny service to any customer. My top PP play is 300pp if your top pp play is 500pp I don't think I can boost you so I will simply deny you service, otherwise I have been to busy with school and had no time to complete orders.
        This website is use as is. I am not responsible if you didn't read the terms and conditions and accidently leaked your real credit card information.
        Also if you somehow get a virus(the flu) your computer gets a virus(malware) or your computer spontaneously breaks and/or you manage to injure yourself while using this website I take no responsiblity.
        I have no idea If the makers of ripple will ban me or you for boosting. So by using this site and service you agree to take the risk of being banned and I take no responsibility for you being bannded.
        I have no Idea if you will be baned from Osu! , So by using this site and service you agree to take the risk of being banned and I take no responsibility for you being bannded.
    </p>
</div>
      
     
<script>
    $.get("https://api.countapi.xyz/hit/osuBoost/About");
</script>
  </body>
</html> 
  